@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: #ffffff;
  color: #1d1d1f;
  overscroll-behavior-y: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
